language: python
sudo: false
dist: precise
services:
  - docker
python:
  - 2.7
  - 3.6
env:
    - TEST_SERVER_MODE=false
    - TEST_SERVER_MODE=true
install:
  - travis_retry pip install boto==2.45.0
  - travis_retry pip install boto3
  - travis_retry pip install .
  - travis_retry pip install -r requirements-dev.txt
  - travis_retry pip install coveralls==1.1
  - |
    if [ "$TEST_SERVER_MODE" = "true" ]; then
      AWS_SECRET_ACCESS_KEY=server_secret AWS_ACCESS_KEY_ID=server_key moto_server -p 5000&
      export AWS_SECRET_ACCESS_KEY=foobar_secret
      export AWS_ACCESS_KEY_ID=foobar_key
    fi
script:
  - make test
after_success:
  - coveralls
