language: python
python:
  - 2.6
  - 2.7
env:
    matrix:
      - BOTO_VERSION=2.34.0
      - BOTO_VERSION=2.25.0
      - BOTO_VERSION=2.7
matrix:
    include:
      - python: "3.3"
        env: BOTO_VERSION=2.32.4
install:
  - pip install boto==$BOTO_VERSION
  - pip install .
  - pip install -r requirements-dev.txt
  - pip install coveralls
script:
  - make test
after_success:
  - coveralls
