language: python
sudo: false
python:
  - 2.6
  - 2.7
  - 3.3
env:
    - TEST_SERVER_MODE=false
    - TEST_SERVER_MODE=true
install:
  - travis_retry pip install boto==2.45.0
  - travis_retry pip install boto3
  - travis_retry pip install .
  - travis_retry pip install -r requirements-dev.txt
  - travis_retry pip install coveralls
script:
  - make test
after_success:
  - coveralls
