language: python
python:
  - 2.6
  - 2.7
env:
    matrix:
      #- BOTO_VERSION=2.13.3
      - BOTO_VERSION=2.12.0
      - BOTO_VERSION=2.11.0
      - BOTO_VERSION=2.10.0
      - BOTO_VERSION=2.9.9
install:
  - pip install boto==$BOTO_VERSION
  - pip install https://github.com/gabrielfalcao/HTTPretty/tarball/8bbbdfc14326678b1aeba6a2d81af0d835a2cd6f
  - pip install .
  - pip install -r requirements.txt
script:
  - make test
after_success:
  - coveralls
