include README.md LICENSE AUTHORS.md
include requirements.txt requirements-dev.txt tox.ini
include moto/config/resources/aws_managed_rules.json
include moto/ec2/resources/instance_types.json
include moto/ec2/resources/instance_type_offerings/*/*.json
include moto/ec2/resources/amis.json
include moto/cognitoidp/resources/*.json
include moto/dynamodb2/parsing/reserved_keywords.txt
include moto/support/resources/*.json
recursive-include moto/templates *
recursive-include tests *
