-e .[all,server]
-r requirements-tests.txt

ruff==0.3.3
click
inflection
lxml
mypy
typing-extensions
packaging
build
prompt_toolkit

# type stubs that mypy doesn't install automatically
botocore-stubs


# typing_extensions is currently used for:
# Protocol  (3.8+)
# ParamSpec  (3.10+)
# Self  (3.11+)
