"""{{ service_class }}Backend class with methods for supported APIs."""

from moto.core import BaseBackend, BaseModel
from moto.core.utils import BackendDict


class {{ service_class }}Backend(BaseBackend):
    """Implementation of {{ service_class }} APIs."""

    def __init__(self, region_name, account_id):
        super().__init__(region_name, account_id)

    # add methods from here


{{ escaped_service }}_backends = BackendDict({{ service_class }}Backend, "{{ service }}")
