from __future__ import unicode_literals
from .responses import {{ service_class }}Response

url_bases = [
    "https?://{{ endpoint_prefix }}.(.+).amazonaws.com",
]

{% if api_protocol == 'rest-json' %}
response = {{ service_class }}Response()
{% endif %}

url_paths = {
}
