# Data Update:
#   EMR Instance Types
#
# This GitHub Action:
#   - executes the script that updates the EMR instance types that come bundled with Moto
#   - creates a PR
#
name: "DataUpdate_EMRInstanceTypes"

on:
  schedule:
    - cron: '00 4 * * 0'
  workflow_dispatch:

jobs:
  update:
    name: Update EMR Instance Types
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' && github.repository == 'getmoto/moto' }}
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v6
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::682283128318:role/GithubActionsRole

    - name: Pull EMR instance types from AWS
      run: |
        pip install boto3
        python scripts/emr_get_releases.py
    - name: Create PR
      uses: peter-evans/create-pull-request@v8
      with:
        branch: 'chore-update-emr-instance-types-${{ github.run_number }}'
        title: 'chore: update EMR Instance Types'
        commit-message: 'chore: update EMR Instance Types'
