name: Ruby SDK test
on: [workflow_call]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.3']

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Start MotoServer
        uses: ./.github/actions/run_moto_server
      - name: Install dependencies
        run: cd other_langs/tests_ruby && bundle install
      - name: Run tests
        env:
          AWS_ENDPOINT_URL: "http://localhost:5000"
        run: |
          mkdir ~/.aws && touch ~/.aws/credentials && echo -e "[default]\naws_access_key_id = test\naws_secret_access_key = test" > ~/.aws/credentials
          cd other_langs/tests_ruby && ruby test/*
